* {
  font-family: 'Inter', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

body {
   overflow: hidden;
   padding: 0;
   margin: 0;
}

h6 {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}


.container {
    width: 100vw;
    height: 100vh;
    padding: none;
    margin: none;
    display: grid;
    grid-template-columns: 16vw 84vw;
    grid-template-rows: 18vh 82vh;
}

.sidebar {
    background-color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-row: 1 / 3;
}

.top-navigation, .bottom-navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon {
    width: 24px;
}

.nav, .logo {
    color: white;
    display: flex;
    gap: 16px;
}

.logo > p, h1{
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

.nav > p, .right > p {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 50px;
    background-color: white;
    grid-column: 2 / 3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.top {
    display: flex;
    justify-content: space-between;
}

.top .left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search {
    height: 40px;
    width: 680px;
    background-color: #EBEEFA;
    border-radius: 100px;
}

.top .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.img-small, .trending-img {
    height: 44px;
    width: auto;
    border-radius: 100px;
}

.img-big {
    height: 60px;
    width: auto;
}

.right > p {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom .left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.greetings {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bottom .right {
    display: flex;
    gap: 12px;
}

button {
    background-color: black;
    font-size: 16px;
    padding: 12px 24px;
    color: white;
    border-radius: 100px;
    border: none;
}

.foot {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    padding: 32px 50px;
    background-color: #EBEEFA;
}

.foot .left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

p.foot-heading {
    font-size: 22px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.project-item {
    display: flex;
    /*padding-right: 24px;*/
    border-radius: 10px;
    gap: 20px;
    background-color: white;
    align-items: center;
    overflow: hidden;
    width: 500px;
}

.project-item .left {
    height:220px;
    width:8px;
    background-color: #569125;
}

.project-item .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 36px;
    height: 160px;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

p.project-title {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

p.big-paragraph {
    color: grey;
    width: 440px;
    font-size: 16px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.foot .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announcements {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.announcement {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}

.announcement-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}

.divider {
    width: 248px;
    height: 1px;
    background-color: grey;
}
p.announcement {
    font-size: 15px;
    font-weight: 600;
    padding: 0;
}

p.small-paragraph {
    font-size: 12px;
    color: grey;
    width: 240px;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.trending-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 32px;
    border-radius: 10px;
}

.trending-item {
    display: flex;
    gap: 16px;
}

.trending-profile {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

p.name {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
}

p.about {
    font-size: 15px;
    color: grey;
}

