* {
  font-family: 'Inter', sans-serif;
}

body {
   overflow: hidden;
   padding: 0;
   margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: none;
    margin: none;
    display: grid;
    grid-template-columns: 16vw 84vw;
    grid-template-rows: 16vh 84vh;
}

.sidebar {
    background-color: blue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-row: 1 / 3;
}

.nav, .logo {
    color: white;
    display: flex;
    gap: 16px;
}

.logo > p {
    font-size: 22px;
    font-weight: 600;
}

.nav > p {
    color: white;
    font-size: 18px;
    font-weight: 500;
}